# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
*.egg-info/

# Tests
tests/

# Data (будет через volume)
data/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Env
.env
.env.*

# Docker
Dockerfile
docker-compose.yml
.dockerignore